.container {
  color: rgb(0, 0, 0);
}
.intro-section {
  color: rgb(7, 7, 7);
  padding: 20px;
  text-align: center;
}
.product-images {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.thumbnail-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
