<div class="container-fluid">
  <div class="mt-3"></div>
  <h2 class="text-center">{{ "PRODUCT-MANAGEMENT" | translate }}</h2>
  <div class="mb-3 mt-3">
    <div class="row mb-3 mt-3">
      <div class="col-md-8">
        <input type="text" class="form-control search-input" placeholder="{{ 'SEARCH-BY-PRODUCTS' | translate }}"
          [(ngModel)]="keyword" />
      </div>
      <div class="col-md-2">
        <button class="adminSearch-btn mr-3" (click)="searchProducts(keyword)">
          {{ "SEARCH" | translate }}
        </button>
      </div>
      <div class="col-md-2 text-end">
        <button class="add-btn" (click)="addProduct()">
          {{ "ADD-PRODUCT" | translate }}
        </button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>{{ "ID" | translate }}</th>
          <th>{{ "IMAGE" | translate }}</th>
          <th>{{ "NAME" | translate }}</th>
          <th>{{ "DESCRIPTION" | translate }}</th>
          <th>{{ "CATEGORY" | translate }}</th>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id){
        <tr>
          <td>{{ product.id }}</td>
          <td><img [src]="product.url" alt="" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ getCategoryNameById(product.category_id) }}</td>
          <td>${{ product.price }}</td>
          <td>
            <div style="display: flex; gap: 10px; justify-content: center">
              <button (click)="editProduct(product)" class="edit-btn">
                <i class="fa-solid fa-file-pen"></i>
              </button>
              <button class="delete-btn" (click)="deleteProduct(product.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [visiblePages]="visiblePages"
      (pageChanged)="onPageChange($event)"></app-pagination>
  </div>

  <!-- Form thêm sản phẩm -->
  <div class="form-popup" id="productForm">
    <form class="form-container">
      <h3>Thêm sản phẩm</h3>
      <label for="product-name">Tên sản phẩm:</label>
      <input type="text" id="product-name" name="product-name" required />

      <label for="product-code">Mã sản phẩm:</label>
      <input type="text" id="product-code" name="product-code" required />

      <label for="price">Giá bán:</label>
      <input type="number" id="price" name="price" required />

      <label for="quantity">Số lượng:</label>
      <input type="number" id="quantity" name="quantity" required />

      <label for="category">Danh mục:</label>
      <select id="category" name="category" required>
        <option value="ao-thun">Áo thun</option>
        <option value="quan">Quần</option>
        <option value="giay">Giày</option>
      </select>

      <label for="description">Mô tả sản phẩm:</label>
      <textarea id="description" name="description"></textarea>

      <label for="image">Hình ảnh sản phẩm:</label>
      <input type="file" id="image" name="image" />
      <div>
        <button type="submit">Đồng ý</button>
        <button type="button" class="cancel-btn" (click)="closeForm()">
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>