<!-- Phần quản lý sản phẩm -->
<div class="container-fluid">
  <div class="mt-3"></div>
  <h2>{{ "PRODUCT-MANAGEMENT" | translate }}</h2>
  <!-- Tìm kiếm sản phẩm -->
  <div class="row mb-3 mt-3">
    <div class="row mb-3 mt-3 justify-content-center">
      <div class="col-md-6">
        <input
          type="text"
          class="form-control search-input"
          placeholder="{{ 'SEARCH-BY-PRODUCTS' | translate }}"
          [(ngModel)]="keyword"
        />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="searchProducts(keyword)">
          {{ "SEARCH" | translate }}
        </button>
      </div>
    </div>

    <!-- Bảng danh sách sản phẩm -->
    <table>
      <thead>
        <tr>
          <th>{{ "ID" | translate }}</th>
          <th>{{ "IMAGE" | translate }}</th>
          <th>{{ "NAME" | translate }}</th>
          <th>{{ "DESCRIPTION" | translate }}</th>
          <th>{{ "CATEGORY" | translate }}</th>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id){
        <tr>
          <td>{{ product.id }}</td>
          <td><img [src]="product.url" alt="" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ getCategoryNameById(product.category_id) }}</td>
          <td>${{ product.price }}</td>
          <td>
            <div style="display: flex">
              <button (click)="editUser(product)" class="btn btn-primary">
                <i class="fa-solid fa-file-pen"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteUser(product.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" *ngIf="currentPage > 1">
            <a class="page-link" (click)="onPageChange(1)"
              ><i class="fa-solid fa-backward-step"></i
            ></a>
          </li>
          <li class="page-item" *ngIf="currentPage > 1">
            <a class="page-link" (click)="onPageChange(currentPage - 1)"
              ><i class="fa-solid fa-arrow-left"></i
            ></a>
          </li>
          <ng-container *ngFor="let page of visiblePages">
            <li class="page-item" [ngClass]="{ active: page === currentPage }">
              <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
            </li>
          </ng-container>
          <li class="page-item" *ngIf="currentPage < totalPages">
            <a class="page-link" (click)="onPageChange(currentPage + 1)"
              ><i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li class="page-item" *ngIf="currentPage < totalPages">
            <a class="page-link" (click)="onPageChange(totalPages)"
              ><i class="fa-solid fa-forward-step"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Nút thêm sản phẩm -->
    <button class="add-product" (click)="addProduct()">
      {{ "ADD-PRODUCT" | translate }}
    </button>
  </div>

  <!-- Form thêm sản phẩm -->
  <div class="form-popup" id="productForm">
    <form class="form-container">
      <h3>Thêm sản phẩm</h3>
      <label for="product-name">Tên sản phẩm:</label>
      <input type="text" id="product-name" name="product-name" required />

      <label for="product-code">Mã sản phẩm:</label>
      <input type="text" id="product-code" name="product-code" required />

      <label for="price">Giá bán:</label>
      <input type="number" id="price" name="price" required />

      <label for="quantity">Số lượng:</label>
      <input type="number" id="quantity" name="quantity" required />

      <label for="category">Danh mục:</label>
      <select id="category" name="category" required>
        <option value="ao-thun">Áo thun</option>
        <option value="quan">Quần</option>
        <option value="giay">Giày</option>
      </select>

      <label for="description">Mô tả sản phẩm:</label>
      <textarea id="description" name="description"></textarea>

      <label for="image">Hình ảnh sản phẩm:</label>
      <input type="file" id="image" name="image" />

      <button type="submit">Thêm sản phẩm</button>
      <button type="button" class="cancel-btn" (click)="closeForm()">
        Hủy
      </button>
    </form>
  </div>
</div>
