<app-header></app-header>
<div class="container-fluid row p-5">
  <div class="col-md-6">
    <h1 class="pt-3 text-center">Liên Hệ Với Chúng Tôi</h1>
    <p class="text-center">Chúng tôi luôn sẵn sàng hỗ trợ bạn!</p>

    <form action="/submit-contact" method="POST">
      <!-- <label for="name">Họ và Tên:</label>
      <input type="text" id="name" name="name" required /> -->

      <div class="form-group col-md-12">
        <label for="name">{{ "FULLNAME" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          name="phone"
          required
        />
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <div class="form-group col-md-12">
        <label for="name">{{ "EMAIL" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          name="phone"
          required
        />
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <div class="form-group col-md-12">
        <label for="message">Lời nhắn</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="5"
          required
        ></textarea>
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <button
        class="search-btn position-absolute"
        style="right: 0; width: 80px"
        type="submit"
      >
        Gửi
      </button>
    </form>
  </div>

  <div class="col-md-6 text-center">
    <h2>Thông Tin Liên Hệ</h2>
    <p><strong>Địa chỉ:</strong> 123 Đường ABC, Thành phố XYZ</p>
    <p><strong>Điện thoại:</strong> (012) 345-6789</p>
    <p><strong>Email:</strong> lienhed.com</p>
  </div>

  <footer>
    <p>&copy; 2025 Công Ty XYZ. Tất cả các quyền được bảo lưu.</p>
  </footer>
</div>
<app-footer></app-footer>
