<app-header></app-header>
<div class="container-fluid row p-5">
  <div class="col-md-6">
    <h1 class="pt-3 text-center">{{ "CONTACT-US" | translate }}</h1>
    <p class="text-center">{{ "DES-CONTACT-US" | translate }}</p>

    <form action="/submit-contact" method="POST">
      <div class="form-group col-md-12">
        <label for="name">{{ "FULLNAME" | translate }}</label>
        <input type="text" class="form-control" id="phoneNumber" name="phone" required />
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <div class="form-group col-md-12">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="phoneNumber" name="phone" required />
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <div class="form-group col-md-12">
        <label for="message">{{ "MESSAGE" | translate }}</label>
        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        <div class="divider-nospace"></div>
        <div class="mt-3"></div>
      </div>
      <button class="search-btn position-absolute" style="right: 25px; width: 80px" type="submit">
        {{ "SEND" | translate }}
      </button>
    </form>
  </div>

  <div class="col-md-6 text-center">
    <h2>{{ "CONTACT-INFOR" | translate }}</h2>
    <p><strong>{{ "ADDRESS" | translate }}:</strong> 184-194 Nam Kỳ Khởi Nghĩa, Phường 6, Quận 1, Hồ Chí Minh</p>
    <p><strong>{{ "PHONE" | translate }}:</strong> 0988-888-888 &nbsp;<strong>Email:</strong> kokibig&#64;gmail.com</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.702282896664!2d106.69285040259042!3d10.78029420555913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f37326be175%3A0xde3720f8f4131921!2zMTgwIE5hbSBL4buzIEto4bufaSBOZ2jEqWEsIFBoxrDhu51uZyA2LCBRdeG6rW4gMywgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1743756947189!5m2!1svi!2s"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <footer>
    <p>{{ "DES-TWO-CONTACT-US" | translate }}</p>
  </footer>
</div>
<app-footer></app-footer>