<div class="container-fluid">
  <div class="mt-3"></div>
  <h2 class="text-center">{{ "ORDER-MANAGEMENT" | translate }}</h2>
  <div class="row mb-3 mt-3">
    <div class="col-md-8">
      <input
        type="text"
        class="form-control search-input"
        placeholder="{{ 'SEARCH-BY-USERS' | translate }}"
        [(ngModel)]="keyword"
      />
    </div>
    <div class="col-md-2">
      <button class="adminSearch-btn" (click)="searchOrders(keyword)">
        {{ "SEARCH" | translate }}
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "ID" | translate }}</th>
        <!-- <th>User ID</th> -->
        <th>{{ "NAME" | translate }}</th>
        <th>Email</th>
        <th>{{ "PHONE" | translate }}</th>
        <th>{{ "ADDRESS" | translate }}</th>
        <th>{{ "NOTE" | translate }}</th>
        <th>{{ "ORDER-DATE" | translate }}</th>
        <th>{{ "STATUS" | translate }}</th>
        <th>{{ "TOTAL-MONEY" | translate }}</th>
        <th>{{ "ACTION" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for(order of orders; track order.id){
      <tr>
        <td>
          {{ order.id }}
        </td>
        <!-- <td>{{ order.user_id }}</td> -->
        <td>{{ order.fullname }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.phone_number }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.note }}</td>
        <td>{{ order.order_date | date }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.total_money }}</td>
        <td>
          <div style="display: flex; gap: 10px; justify-content: center">
            <button (click)="viewDetails(order)" class="edit-btn">
              <i class="fa-solid fa-file-pen"></i>
            </button>
            <button class="delete-btn" (click)="deleteOrder(order.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [visiblePages]="visiblePages"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
