<div class="container-fluid">
  <div class="row mb-3 mt-3 justify-content-center">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control search-input"
        placeholder="{{ 'SEARCH-BY-USERS' | translate }}"
        [(ngModel)]="keyword"
      />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="searchOrders(keyword)">
        {{ "SEARCH" | translate }}
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "ORDER-ID" | translate }}</th>
        <!-- <th>User ID</th> -->
        <th>{{ "NAME" | translate }}</th>
        <th>Email</th>
        <th>{{ "PHONE" | translate }}</th>
        <th>{{ "ADDRESS" | translate }}</th>
        <th>{{ "NOTE" | translate }}</th>
        <th>{{ "ORDER-DATE" | translate }}</th>
        <th>{{ "STATUS" | translate }}</th>
        <th>{{ "TOTAL-MONEY" | translate }}</th>
        <th>{{ "ACTION" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for(order of orders; track order.id){
      <tr>
        <td>
          {{ order.id }}
        </td>
        <!-- <td>{{ order.user_id }}</td> -->
        <td>{{ order.fullname }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.phone_number }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.note }}</td>
        <td>{{ order.order_date | date }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.total_money }}</td>
        <td>
          <div style="display: flex; gap: 10px">
            <button (click)="viewDetails(order)" class="btn btn-primary">
              <i class="fa-solid fa-file-pen"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteOrder(order.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link" (click)="onPageChange(1)"
            ><i class="fa-solid fa-backward-step"></i
          ></a>
        </li>
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link" (click)="onPageChange(currentPage - 1)"
            ><i class="fa-solid fa-arrow-left"></i
          ></a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
          <li class="page-item" [ngClass]="{ active: page === currentPage }">
            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
          </li>
        </ng-container>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link" (click)="onPageChange(currentPage + 1)"
            ><i class="fa-solid fa-arrow-right"></i
          ></a>
        </li>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link" (click)="onPageChange(totalPages)"
            ><i class="fa-solid fa-forward-step"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
