.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.team-member{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
