<app-header></app-header>
<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="register-form mx-auto row">
          <h2 class="register-header">{{ "REGISTER" | translate }}</h2>
          <div class="form-group col-md-6">
            <label for="phoneNumber">{{ "PHONE" | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              [(ngModel)]="phoneNumber"
              name="phone"
              (input)="onPhoneChange()"
              (focus)="registerForm.form.markAllAsTouched()"
              required
            />
            <div class="divider-nospace"></div>
            <div class="mt-3"></div>
          </div>
          <div class="form-group col-md-6">
            <label for="full-name">{{ "NAME" | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="full-name"
              [(ngModel)]="fullName"
              name="fullName"
              required
            />
            <div class="divider-nospace"></div>

            <div class="mt-3"></div>
          </div>
          <div class="form-group col-md-6 password-field">
            <label for="password">{{ "PASSWORD" | translate }}</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="{{ 'AT-LEAST-3-CHARACTERS' | translate }}"
              id="password"
              [(ngModel)]="password"
              name="password"
              (focus)="registerForm.form.markAllAsTouched()"
              required
            />
            <i
              [class]="
                showPassword
                  ? 'password-toggle fas fa-eye'
                  : 'password-toggle fas fa-eye-slash'
              "
              (click)="togglePasswordVisibility()"
            ></i>
            <div class="divider-nospace"></div>

            <div class="mt-3"></div>
          </div>
          <div class="form-group col-md-6 password-field">
            <label for="confirm-password">{{
              "RE-ENTER-PASSWORD" | translate
            }}</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="confirm-password"
              [(ngModel)]="retypePassword"
              (input)="
                registerForm.form.markAllAsTouched(); checkPasswordsMatch()
              "
              name="retypePassword"
              required
            />
            <div class="divider-nospace"></div>
            <div class="mt-3"></div>
          </div>

          <div class="form-group col-md-6 password-field">
            <label for="date-of-birth">{{ "DATE-OF-BIRTH" | translate }}</label>
            <input
              type="date"
              class="form-control"
              id="date-of-birth"
              [(ngModel)]="dateOfBirth"
              name="dateOfBirth"
              (input)="registerForm.form.markAllAsTouched(); checkAge()"
            />
            <div class="divider-nospace"></div>

            <div class="mt-3"></div>
          </div>
          <div class="form-group col-md-6">
            <label for="address">{{ "ADDRESS" | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="address"
              [(ngModel)]="address"
              name="address"
            />
            <div class="divider-nospace"></div>
            <div class="mt-3"></div>
          </div>
          <div class="form-group col-md-12">
            <div class="form-check checkbox-text">
              <span style="display: flex">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="agree"
                  [(ngModel)]="isAccepted"
                  name="isAccepted"
                />
                <label class="form-check-label text-start" for="agree">
                  {{ "CHECKBOX-AGREE" | translate }}
                </label>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" style="font-size: 13px">
            <div
              *ngIf="registerForm.submitted && !phoneNumber"
              class="text-danger"
            >
              {{ "PHONE-NUMBER-IS-REQUIRED" | translate }}
            </div>

            <div
              *ngIf="phoneNumber.length != 10 && registerForm.form.touched"
              class="text-danger"
            >
              {{ "PHONE-NUMBER-IS-INVALID" | translate }}
            </div>

            <div
              *ngIf="registerForm.submitted && !fullName"
              class="text-danger"
            >
              {{ "NAME-IS-REQUIRED" | translate }}
            </div>

            <div
              *ngIf="registerForm.submitted && password.length < 3"
              class="text-danger"
            >
              {{ "PASSWORD-LEAST-3-CHARACTERS" | translate }}
            </div>

            <p
              class="text-danger"
              *ngIf="
                registerForm.controls['retypePassword']?.hasError(
                  'passwordMisMatch'
                ) && registerForm.form.touched
              "
            >
              {{ "PASSWORD-NOT-MATCH" | translate }}
            </p>

            <p
              class="text-danger"
              *ngIf="
                registerForm.controls['dateOfBirth']?.hasError('invalidAge') &&
                registerForm.form.touched
              "
            >
              {{ "YOU-NOT-18-AGE" | translate }}
            </p>
          </div>

          <button type="submit" class="register-button">
            {{ "SIGN-UP" | translate }}
          </button>
          <div class="divider"></div>
          <p class="text-center">
            {{ "DO-YOU-HAVE-AN-ACCOUNT" | translate }}
            <span>
              <a href="#" class="register-link" routerLink="/login">{{
                "LOGIN" | translate
              }}</a></span
            >
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
