<footer>
  <div class="footer pt-4 pb-4">
    <div class="container">
      <div class="row footer-description">
        <div class="col-md-8">
          <h5>{{ "HEADQUARTERS" | translate }}:</h5>
          <p>
            <b>{{ "ADDRESS" | translate }}:</b> 184-194 Nam Kỳ Khởi Nghĩa,
            Phường 6, Quận 1, Hồ Chí Minh
          </p>
          <p>
            <b>VPGD:</b> 130 Hàm Nghi, Phường Bến Thành, Quận 1, Hồ Chí Minh
          </p>
          <p><b>Tel:</b> 0988.888.888</p>
          <h5>{{ "NOR-REP-OFFICE" | translate }}:</h5>
          <p>
            <b>{{ "ADDRESS" | translate }}:</b> 105-93 P.Tôn Đức Thắng, Hàng
            Bột, Đống Đa, Hà Nội
          </p>
          <p><b>Tel:</b> 0988.999.999</p>
        </div>
        <div class="col-md-4">
          <h5>{{ "SUP-INSTRUCTIONS" | translate }}</h5>
          <ul>
            <li>
              <a class="ok" href="#">{{ "HOW-TO-SHOP" | translate }}</a>
            </li>
            <li>
              <a class="ok" href="#">{{ "RETURN-EX-POLICY" | translate }}</a>
            </li>
            <li>
              <a class="ok" href="#">{{ "PAYMENT-METHODS" | translate }}</a>
            </li>
            <li>
              <a class="ok" href="#">{{ "ORD-DELI-METHODS" | translate }}</a>
            </li>
            <li>
              <a class="ok" href="#">{{ "WARR-POLICY" | translate }}</a>
            </li>
            <li>
              <a class="ok" href="#">{{ "REPAIR-SERVICES" | translate }}</a>
            </li>
          </ul>
        </div>
        <hr width="30%" size="5px" />
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>
              <b>{{ "CONSULTING-HOTLINE" | translate }}:</b>
            </h6>
            <h3 class="phone">
              <i class="fa-solid fa-phone-volume"></i> &nbsp; 0988.888.888 -
              0988.999.999
            </h3>
          </div>
          <div class="col-sm-12 col-md-6 img">
            <a target="_blank" href="https://www.facebook.com/"
              ><img
                src="../../../assets/7101d598cb5156e5670771476183ae8f.jpg"
                alt="logo facebook"
                width="200px"
            /></a>
            <a target="_blank" href="https://www.youtube.com/"
              ><img
                src="../../../assets/logoYoutube.jpg"
                alt="logo facebook"
                width="200px"
            /></a>
            <a target="_blank" href="https://www.instagram.com/"
              ><img
                src="../../../assets/instagram-copy-e1702584672389.png"
                alt="logo facebook"
                width="200px"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
