@import "../../styles/shared-styles.scss";
header {
  background-color: rgba(95, 36, 222, 0.986);
  color: rgb(173, 178, 203);
}
.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
  color: rgb(173, 178, 203);
}
.navbar .container .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 8px 16px;
}
.popover-list {
  padding: 10px;
}
.popover-body {
  padding: 0px;
}
.popover-item {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}
.popover-item:hover {
  background-color: #f0f0f0;
  color: red;
  /* Change text color to red on hover */
}
.flag img {
  width: 50px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 481px) {
  .navbar {
    padding: 5px 10px;
  }
}
