@import "../../styles/shared-styles.scss";
header {
  background-color: rgba(95, 36, 222, 0.986);
  color: rgb(173, 178, 203);
}
.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
  color: rgb(173, 178, 203);
}
.navbar .container .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 8px 16px;
}
.popover-list {
  padding: 10px;
}
.popover-body {
  padding: 0px;
}
.popover-item {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}
.popover-item:hover {
  background-color: #f0f0f0;
  color: red;
  /* Change text color to red on hover */
}
.flag img {
  width: 50px;
  height: 30px;
  cursor: pointer;
}
.user-detail {
  cursor: pointer;
  padding-right: 10px;
}
.navMenu {
  position: absolute;
  width: 40%;
  min-height: 250px;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 40px;
  z-index: 1;
  border: 0.25px solid rgba(0, 0, 0, 0.267);
}
.navbar[_ngcontent-ng-c1510010964]
  .container[_ngcontent-ng-c1510010964]
  .navMenu
  .navbar-nav[_ngcontent-ng-c1510010964]
  .nav-link[_ngcontent-ng-c1510010964] {
  color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .navbar {
    padding: 5px 10px;
  }
  .user-detail {
    padding-right: 0;
  }
  .navbar-collapse {
    transition: max-height 0.3s ease-in-out; /* Thêm hiệu ứng khi mở/đóng menu */
  }
}
