<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          alt="Logo"
          loading="eager"
          src="assets/LogoKokibigWhite.png"
          srcset="
            assets/LogoKokibigWhite.png 1x,
            assets/LogoKokibigWhite.png 2x
          "
          width="35px"
          height="auto"
        />
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">{{
              "HOME" | translate
            }}</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >{{ "LIST" | translate }}</a
            >
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/about">{{
                "ABOUT" | translate
              }}</a>
              <a class="dropdown-item" href="#">{{ "SERVICE" | translate }}</a>
              <a class="dropdown-item" routerLink="/contact">{{
                "CONTACT" | translate
              }}</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-expanded="false" routerLink="/orders">
              <i class="fas fa-shopping-cart icon" routerLink="/orders"></i>
              {{ "CART" | translate }}
            </a>
          </li>
        </ul>
      </div>
      <div style="padding-right: 10px">
        <ng-container *ngIf="userResponse">
          <ng-container
            ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất"
            popoverTitle="User Actions"
            triggers="click"
            [placement]="'bottom'"
          >
            <a
              class="nav-link"
              [ngbPopover]="popoverContent"
              (click)="togglePopover($event)"
            >
              {{ "HELLO" | translate }} {{ userResponse.fullname }}
            </a>
            <ng-template #popoverContent>
              <div class="popover-list">
                <a class="popover-item" (click)="handleItemClick(0)">{{
                  "MY-ACCOUNT" | translate
                }}</a>
                <a class="popover-item" (click)="handleItemClick(1)">{{
                  "ORDER" | translate
                }}</a>
                <a class="popover-item" (click)="handleItemClick(2)">{{
                  "LOG-OUT" | translate
                }}</a>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!userResponse">
          <a class="nav-link" aria-disabled="true" routerLink="/login">{{
            "LOGIN" | translate
          }}</a>
        </ng-container>
      </div>
      <div>
        <a (click)="switchLanguage('vi')" class="flag"
          ><img
            src="assets/FlagVN.webp"
            alt="Vietnam Flag"
            srcset="assets/FlagVN.webp 1x, assets/FlagVN.webp 2x"
        /></a>
        |
        <a (click)="switchLanguage('en')" class="flag"
          ><img
            alt=""
            loading="eager"
            src="assets/FlagEU.webp"
            srcset="assets/FlagEU.webp 1x, assets/FlagEU.webp 2x"
            alt="AmericanFlag"
        /></a>
      </div>
    </div>
  </nav>
</header>
