<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>{{ "CART" | translate }}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="product-header">{{ "RECIP-INFOR" | translate }}</h2>
      <form [formGroup]="orderForm">
        <div class="mb-3">
          <label for="fullname" class="form-label">{{
            "FULLNAME" | translate
            }}</label>
          <input type="text" class="form-control" id="fullname" formControlName="fullname" [class.is-invalid]="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            " />
          <div *ngIf="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            " class="invalid-feedback">
            {{ "NAME-IS-REQUIRED" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" [class.is-invalid]="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            " />
          <div *ngIf="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            " class="invalid-feedback">
            {{
            orderForm.get("email")!.hasError("email")
            ? ("INVALID-EMAIL" | translate)
            : ("EMAIL-IS-REQUIRED" | translate)
            }}
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">{{
            "PHONE" | translate
            }}</label>
          <input type="text" class="form-control" id="phone" formControlName="phone_number" required [class.is-invalid]="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            " />
          <div *ngIf="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            " class="invalid-feedback">
            {{ "PHONE-NUMBER-IS-REQUIRED" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">{{
            "ADDRESS" | translate
            }}</label>
          <input type="text" class="form-control" id="address" formControlName="address" required [class.is-invalid]="
              orderForm.get('address')!.invalid &&
              orderForm.get('address')!.touched
            " />
          <div *ngIf="
              orderForm.get('address')!.invalid &&
              orderForm.get('address')!.touched
            " class="invalid-feedback">
            {{ "ADDRESS-IS-REQUIRED" | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">{{
            "NOTE" | translate
            }}</label>
          <input type="text" class="form-control" id="note" formControlName="note" required />
        </div>
        <div class="mb-3">
          <label for="shippingMethod">{{
            "SHIPPING-METHOD" | translate
            }}</label>
          <select class="form-control" id="shippingMethod" formControlName="shipping_method">
            <option value="express">Nhanh (Express)</option>
            <option value="normal">Thường (Normal)</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="paymentMethod">{{ "PAYMENT-METHOD" | translate }}</label>
          <select class="form-control" id="paymentMethod" formControlName="payment_method">
            <option value="cod">Thanh toán khi nhận hàng (COD)</option>
            <option value="other">Thanh toán khác</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>{{ "ORDERED-PRODUCT" | translate }}</h2>
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">{{ "PRODUCT" | translate }}</th>
            <th scope="col">{{ "QUANTITY" | translate }}</th>
            <th scope="col">{{ "UNIT-PRICE" | translate }}</th>
            <th scope="col">{{ "TOTAL-PRICE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of cartItems">
            <tr>
              <td>
                <div class="product-info">
                  <img [src]="item.product.thumbnail" alt="Product Image" class="product-image" />
                  <span class="product-name">{{ item.product.name }}</span>
                </div>
              </td>
              <td>{{ item.quantity }}</td>
              <td>$ {{ item.product.price | number : "1.2-2" }}</td>
              <td>
                $ {{ item.product.price * item.quantity | number : "1.2-2" }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="text-start mt-3">
        <h4 class="header-text text-end">
          {{ "TOTAL-PRICE" | translate }}: $
          {{ totalAmount | number : "1.2-2" }}
        </h4>
      </div>
      <div class="mt-3">
        <h4 class="product-header">{{ "COUPON-CODE" | translate }}</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{ 'ENTER-COUPON-CODE' | translate }}"
            [(ngModel)]="couponCode" />
          <button [disabled]="couponCode.length < 3" class="btn btn-gradient" type="button">
            {{ "APPLY" | translate }}
          </button>
        </div>
      </div>
      <div class="text-start mt-3">
        <button (click)="placeOrder()" class="btn btn-gradient" type="button">
          {{ "PLACE-ORDER" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>