.container-fluid {
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.header {
  background-color: #4a4e4a;
  padding: 10px;
  text-align: center;
}
#sidebar {
  background-color: #7e8184 !important;
  color: white;
  height: 110vh;
  overflow-y: hidden;
}
#sidebar a {
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 30px;
}
#sidebar a.active {
  font-weight: bold;
}
#sidebar a:hover {
  background-color: #5e5d5d;
}
.icon {
  padding: 5px;
}
.flag img {
  width: 50px;
  height: 30px;
  cursor: pointer;
}
.logo {
  width: 50;
  height: auto;
  padding-left: 10px;
}
#sidebar .popover-item {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}
#sidebar .popover-item:hover {
  background-color: #f0f0f0;
  color: red;
  cursor: pointer;
}
a {
  cursor: pointer;
}
