<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <div class="col-md-12 sliding-banner">
      <div class="col-md-12 slider">
        <div
          class="slide"
          [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
        >
          <div class="leftArrow" (click)="goToPrevious()">
            <i class="fa-regular fa-circle-left"></i>
          </div>
          <div class="rightArrow" (click)="goToNext()">
            <i class="fa-regular fa-circle-right"></i>
          </div>
        </div>
        <div class="dotsContainer">
          <div
            *ngFor="let slide of slides; let slideIndex = index"
            class="dot"
            (click)="goToSlide(slideIndex)"
            [class.active]="slideIndex === currentIndex"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!--Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải  -->
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="{{ 'SEARCH-BY-PRODUCTS' | translate }}"
      [(ngModel)]="keyword"
    />
    <select
      class="form-control product-category"
      [(ngModel)]="selectedCategoryId"
    >
      <option [value]="0">{{ "ALL" | translate }}</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <button class="search-btn" (click)="searchProducts()">
      {{ "SEARCH" | translate }}
    </button>
  </div>
  <div>
    <h2>{{ "ALL-PRODUCTS" | translate }}</h2>
    <div class="row">
      <div class="col-md-5ths pb-3" *ngFor="let product of products">
        <div class="product-item">
          <div class="product-info">
            <img
              [src]="product.url"
              alt="Product Image"
              class="product-image"
              (click)="onProductClick(product.id)"
            />
            <h3 class="product-name">
              {{ product.name }}
            </h3>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">
              {{ "PRICE" | translate }}: ${{ product.price }}
            </p>
            <div class="product-star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [visiblePages]="visiblePages"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>

    <app-footer></app-footer>
  </div>
</div>
