<app-header></app-header>
<div class="container">
  this is home
  <div class="intro-section">
    <h1>Đây là trang Home</h1>
    <P>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</P>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm"
    />
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option value="Đồ điện tử">Đồ điện tử</option>
      <option value="Hải sản">Hải sản</option>
      <option value="Bánh kẹo">Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/27947532/pexels-photo-27947532/free-photo-of-di-ch-i-picnic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          width="100%"
          height="100%"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex aliquid,
          ratione mollitia quas, cupiditate amet minima expedita earum sit
          asperiores dolore tenetur officiis aperiam unde nam, quasi quis
          pariatur molestias.
        </p>
        <p class="product-warranty">Bảo hành 12 tháng</p>
        <p class="product-price">Giá <del>$200</del>$100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
