.container {
  color: rgb(0, 0, 0);
}
.intro-section {
  color: rgb(7, 7, 7);
  padding: 20px;
  text-align: center;
}
.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.thumbnail-item {
  width: 120px;
  height: 120px;
  margin-right: 5px;
}
.thumbnail-item:last-child {
  margin-right: 0px;
}
.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail-item.active {
  border: 2px solid white;
}
.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}
.product-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-actions button {
  margin-right: 10px;
}
.border-wrapper {
  border: 1px solid rgb(0, 0, 0);
}
.product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.product-quantity button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}
.product-quantity input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}
.product-quantity input:focus {
  outline: none;
}
