<app-header></app-header>
<form [formGroup]="userProfileForm">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <h2 class="product-header">Thông tin tài khoản</h2>
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ và tên</label>
        <input
          type="text"
          class="form-control"
          id="fullname"
          formControlName="fullname"
          [class.is-invalid]="
            userProfileForm.get('fullname')!.invalid &&
            userProfileForm.get('fullname')!.touched
          "
        />
        <div
          *ngIf="
            userProfileForm.get('fullname')!.invalid &&
            userProfileForm.get('fullname')!.touched
          "
          class="invalid-feedback"
        >
          Họ và tên là trường bắt buộc.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input
          type="text"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label for="retype_password" class="form-label"
          >Nhập lại mật khẩu</label
        >
        <input
          type="text"
          class="form-control"
          id="retype_password"
          formControlName="retype_password"
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
        />
      </div>
      <div class="mb-3">
        <label for="phone_number" class="form-label">Số điện thoại</label>
        <input
          type="text"
          class="form-control"
          id="phone_number"
          formControlName="phone_number"
        />
      </div>
      <div class="mb-3">
        <label for="date_of_birth" class="form-label">Ngày sinh</label>
        <input
          type="date"
          class="form-control"
          id="date_of_birth"
          formControlName="date_of_birth"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" (click)="save()">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
