@import "../../styles/shared-styles.scss";
.product-header {
  color: #333333;
}
.form-control {
  background-color: $shopapp-background-color;
  border: 1px solid rgb(29, 33, 54);
}
.form-control:focus {
  border-color: white;
  background-color: $shopapp-background-color;
}
