@import '../../styles/shared-styles.scss';
.container{
    color: white;
}
.intro-section{
    color: white;
    padding: 20px;
    text-align: center;
}
.product-header  {
color: #333333;
}
.product-order{
    color: green;
 }
.form-control{
    background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
}
.form-control:focus{
    border-color: white;
    background-color: $shopapp-background-color;
 }
