@import "../../styles/shared-styles.scss";
.container {
  color: rgb(8, 8, 8);
}
.login-form {
  background-color: $shopapp-background-color;
  border-radius: 10px;
  padding: 15px;
  max-width: 500px;
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.5));
}
.login-header {
  text-align: center;
  color: $shopapp-title-color;
  margin-bottom: 20px;
}
.form-control {
  color: rgb(0, 0, 0);
}
.form-control:focus {
  color: rgb(0, 0, 0);
  outline: none;
}
.divider-nospace {
  border-top: 1px solid white;
}
.password-field {
  position: relative;
}
.password-toggle {
  position: absolute;
  top: 60%;
  right: 10px;
  color: $shopapp-title-color;
  cursor: pointer;
}
.checkbox-text {
  color: rgb(243, 165, 42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.checkbox-text input[type="checkbox"]:checked {
  border-color: white;
  background-color: $shopapp-tint-color;
}
.form-check-input {
  margin-right: 5px;
}
.register-link {
  color: $shopapp-title-color;
  text-decoration: none;
}
.access-right {
  margin-top: 20px;
  width: 200px;
  color: rgb(0, 0, 0);
  border: 1px solid $shopapp-tint-color;
}
.access-right:focus {
  border: 1px solid $shopapp-tint-color;
}
.access-right option {
  color: rgb(0, 0, 0);
}
.form-control::placeholder {
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: rgba(243, 165, 42, 0.4);
}
.login-button {
  background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  border: none;
}
.divider {
  height: 1px;
  background-color: rgb(243, 165, 42);
  margin: 20px;
}
.social {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
}
.facebook-btn {
  overflow: hidden;
  vertical-align: top;
  padding: 0;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  :focus {
    outline: none;
  }
}
.footer-d-none {
  display: block;
}
@media (max-width: 350px) {
  .footer-d-none {
    display: none;
  }
}
