<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login-form mx-auto">
        <h2 class="login-header">Đăng nhập</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="phoneNumber">Số điện thoại</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              [(ngModel)]="phoneNumber"
              name="phone"
              (input)="onPhoneChange()"
              (focus)="loginForm.form.markAllAsTouched()"
              required
            />
            <div
              *ngIf="loginForm.submitted && !phoneNumber"
              class="text-danger"
            >
              Số điện thoại là bắt buộc
            </div>
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label for="password">Mật Khẩu</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="ít nhất 3 ký tự"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
            <i
              [class]="
                showPassword
                  ? 'password-toggle fas fa-eye'
                  : 'password-toggle fas fa-eye-slash'
              "
              (click)="togglePasswordVisibility()"
            ></i>
            <div *ngIf="loginForm.submitted && !password" class="text-danger">
              Mật khẩu là bắt buộc
            </div>
            <div
              *ngIf="loginForm.submitted && password.length < 3"
              class="text-danger"
            >
              Mật khẩu phải > 3 ký tự
            </div>
            <div class="divider-nospace"></div>
          </div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span style="display: flex">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="remember"
                  name="remember"
                  [(ngModel)]="rememberMe"
                />
                <label class="form-check-label text-start" for="remember">
                  Ghi nhớ đăng nhập
                </label>
              </span>
              <a href="#" class="register-link">Quên mật khẩu</a>
            </div>
          </div>
          <div class="form-group">
            <div class="row" style="justify-content: space-evenly">
              <select
                class="form-control access-right"
                [(ngModel)]="selectedRole"
                name="remember"
              >
                <option selected disabled>Quyền đăng nhập</option>
                <option *ngFor="let role of roles" [ngValue]="role">
                  {{ role.name }}
                </option>
              </select>
              <select
                class="form-control access-right"
                (change)="fillAccount($event)"
              >
                <option selected disabled>Chọn tài khoản test</option>
                <option *ngFor="let role of roles" [ngValue]="role">
                  {{ role.name }}
                </option>
              </select>
            </div>
          </div>
          <button type="submit" class="login-button">Đăng nhập</button>
          <div class="divider"></div>
          <p class="text-center">
            Bạn chưa đăng ký?
            <span>
              <a class="register-link" routerLink="/register"
                >Tạo tài khoản</a
              ></span
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
